[submodule "vim-plugins/vim-gnupg"]
	path = vim-plugins/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "vim-plugins/Ionide-vim"]
	path = vim-plugins/Ionide-vim
	url = https://github.com/ionide/Ionide-vim.git
[submodule "vim-plugins/vim-singularity-syntax"]
	path = vim-plugins/vim-singularity-syntax
	url = https://github.com/rbberger/vim-singularity-syntax.git
