[submodule "local/share/omf"]
	path = local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule "zprezto"]
	path = zprezto
	url = git@github.com:juselius/prezto.git
[submodule "vim/bundle/vim-gnupg"]
	path = vim-plugins/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "Ionide-vim"]
	path = Ionide-vim
	url = https://github.com/ionide/Ionide-vim.git
[submodule "vim-plugins/Ionide-vim"]
	path = vim-plugins/Ionide-vim
	url = https://github.com/ionide/Ionide-vim.git
[submodule "vim-plugins/vim-gnupg"]
	path = vim-plugins/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
