cursor {
    xcursor-theme "Vanilla-DMZ"
    xcursor-size 32

    hide-when-typing
    hide-after-inactive-ms 1000
}

window-rule {
    match app-id=r#"^com.mitchellh.ghostty$"#
    default-column-width { proportion 0.25; }
}

