layout {
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
}

cursor {
    xcursor-theme "Vanilla-DMZ"
    xcursor-size 28

    hide-when-typing
    hide-after-inactive-ms 1000
}

window-rule {
    match app-id=r#"^com.mitchellh.ghostty$"#
    default-column-width { proportion 0.5; }
}

